.labelAndValue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 139px;
}
.LAVlabel {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #8892a2;

}
.LAVvalue {
  font-weight: 500;
  text-align: left;
  font-size: 30px;
  line-height: 38px;
  color: #040a1d;
}


