.refundButton {
  color: #3d4356;
  border: 1px solid black;
  padding: 3px 1.5rem;
  transition: all 250ms ease-in-out;
  border-radius: 5px;
}
.refundButton:hover {
  background-color: #3d4356;
  color: white;
  border-color: #3d4356;
}

.refundTextArea {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 6px;
}
.refundTextArea textarea {
  border: none;
  outline: none;
}
.refundTextArea:focus-within {
  outline: 1px solid rgba(71, 125, 251, 0.4);
}
.refundModal .modal-content {
  background-color: #f4f5f7 !important;
}

.refundSummary {
  background: #ffffff;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  margin-bottom: 2rem;
}
