.imageOnlyList {
  list-style: none;
  margin-top: 1.5rem;
  position: relative;
  padding: 0px;
}
.imageOnlyList li {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-weight: 500;
  border-bottom: 1px solid #e3e7ed;
  font-size: 14px;
  height: 55px;
  box-sizing: border-box;
  position: relative;
  margin: 10px 0px;
  color: #3d4356;
}
.imageOnlyList li::before {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0px;
  width: 8%;
  background-color: white;
  height: 4px;
}
.imageOnlyList li::after {
  position: absolute;
  content: "";
  bottom: -1px;
  right: 0px;
  width: 30%;
  background-color: white;
  height: 4px;
}

.imageOnlyList li .imageDiv {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 3%;
  border: thin solid grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageOnlyList li .infoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
}
.nameSpan {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #8892a2;
}
