.addNewUserForm {
  width: 60%;
}

.addNewUserForm .inputBlock:nth-child(odd) {
  margin-left: 0px;
}
.addNewUserForm .inputBlock:nth-child(even) {
  margin-right: 0px;
}

.dynamicStoreSection {
  margin: 2rem 0px;
}

.addAStore {
  width: 100%;
  border: 1px solid #e3e7ed;
  background: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #8892a2;
}
.storeSection {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.deleteStore {
  position: absolute;
  width: 30px;
  background-color: white;
  right: -40px;
  top: 10px;
  height: 30px;
  border: 1px solid #e3e7ed;
  box-sizing: border-box;
  border-radius: 6px;
}

.personalDetailsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profileImageSection {
  height: 120px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  border: 1px dashed #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileImageSection span {
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  color: #8898aa;
}
.profileImageSection .profileImageSectionIcon {
  width: 30px;
  height: 30px;
  background-image: url(../../../../assets/addProfile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.profileImageSectionActions {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0px;
}
.profileImageSectionActions button {
  height: 30px;
  border: none;
  border-radius: 3px;
  background-color: white;
}

.profileImageSectionActions button .eyecons {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
