.hvHeader {
  display: flex;
  width: 100vw;
  padding: 38px 46px 0px;
  justify-content: flex-start;
  position: fixed;
  top: 0;
}

.appIcon {
  height: 40px;
  width: 80px;
  background-image: url(../../assets/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
