.telInput {
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: none;
}
.phoneNumberInput {
  border: 1px solid #ced4da;
  font-family: 'Open Sans', sans-serif;
  height: 54px;
  background-color: white;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 6px;
}
.phoneNumberInput:focus-within {
  border: 3px solid rgba(71, 125, 251, 0.4);
}
.selectOptions {
  width: 90px;
  font-family: 'Open Sans', sans-serif;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: 55px;
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 4px 6px rgba(50, 50, 93, 0.1);
}
.selectButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  color: #3d4356;
  font-size: 15px;
}

.downIcon{
  background-image: url(../../../assets/down.svg);
  width: 12px;
  height: 6.5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 5px;
}