.sideBarWrapper {
  width: 100%;
  position: relative;
}

.sideBarButton {
  height: 65px;
  display: flex;
  border: none;
  background: none;
  border-radius: 10px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
  transition: all 250ms ease-in-out;
}
.sideBarButton label {
  font-size: 12px;
  font-weight: 500;
  color: #8892a2;
}
.sideBarButtonIcon {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  color: #8892a2;
}
.active {
  background-color: rgb(85, 63, 251, 0.1);
}
.active label {
  color: #040a1d;
}

.sideBarButton:hover {
  background-color: rgb(87, 65, 251, 0.1);
}


.sideBarButton:hover label {
  color: #040a1d;
}

.subroutesDiv {
  display: none;
  position: absolute;
  z-index: 20;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(61, 67, 86, 0.2);
  border-radius: 6px;
  top: 0;
  width: 157px;
  right: -157px;
  height: 100%;
}

.subroutesDiv button {
  border: none;
  width: 100%;
  background: none;
  color: #040a1d;
  font-size: 12px;
  font-weight: 500;
  padding: 0px 10px;
  text-align: left;
  height: 32.5px;
}
.subroutesDiv button:hover {
  background-color: rgb(87, 65, 251, 0.1);
}
.sideBarWrapper:hover .subroutesDiv {
  display: block;
}
