.tableFilterButton {
  background: none;
  border: none;
  padding: 0px;
  height: 50px;
  margin-right: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #8892a2;
  border-bottom: 3px solid transparent;
}
.tFBactive {
  color: #040a1d;
  border-bottom: 3px solid #553ffb;
}

.tableFilterButton:hover {
  color: #040a1d;
  border-bottom: 3px solid #553ffb;
}
