/* DataList Table Styles */
.dataListTable {
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0 3px;
  margin-bottom: 1.1rem;
}
/* Styling the table header */
.dataListTable .tableHeader {
  border-spacing: 0 10px;
  margin-bottom: 2rem;
}
.dataListTable .tableHeader th {
  text-transform: uppercase;
  font-size: 12px;
  color: #8892a2;
  margin-bottom: 0.8rem;
}
.dataListTable .tableHeader th:first-child {
  display: flex;
  justify-content: center;
  margin-top: 0.8rem;
  align-items: center;
}

/* Table Checkbox styles */
.tableCheck {
  width: 17px;
  height: 17px;
  background-color: white;
  border: 1px solid #e9ecef;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.02),
    0px 1px 3px rgba(50, 50, 93, 0.15);
  border-radius: 3px;
  cursor: pointer;
}

/* Styling The table list item (row) */
.dataListTableItem {
  color: #3d4356;
  font-weight: 400;
  font-size: 14px;
  height: 50px;
}

.dataListTableItem td {
  background: #ffffff;
}

/* Username td */
.username {
  display: flex;
  align-items: center;
}
.username .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 15px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* .dataListTable .tableHeader th:last-child {
  padding-left: 3%;
} */

.dataListTableItem td:first-child {
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 6px 0px 0px 6px;
  height: 50px;
}
.dataListTableItem td:last-child {
  border-radius: 0px 6px 6px 0px;
  /* border: 2px solid red; */
}

/* Styling the action button */
.dataListTableItem .tableActionButton {
  border: 1px solid #e3e7ed;

  box-sizing: border-box;
  background: #ffffff;
  color: #8892a2;
}
.dataListTableItem .tableActionButton:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.dataListTableItem .tableActionButton:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Styling the status spans */
.userStatus {
  width: 8px;
  margin-left: 7px;
  height: 8px;
  border-radius: 50%;
}
.paid {
  background: #38c985;
}

.cancelled {
  background: #8892a2;
}

/* Styling Customer Row */
.customer span {
  display: block;
}
.customer span:last-child {
  font-size: 12px;
  color: #8892a2;
}

/* On Hovering the data list item(row) */
.dataListTableItem:hover td:first-child::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  left: 0;
  background-color: #553ffb;
}
.dataListTableItem:hover {
  box-shadow: 0px 0px 10px rgba(61, 67, 86, 0.2);
  cursor: pointer;
}
