.numberOnlyList {
  counter-reset: list-counter;
  list-style: none;
  margin-top: 1rem;
  position: relative;
  padding: 0px 20px;
}

.numberOnlyList li {
  border-top: 1px solid #e3e7ed;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numberOnlyList li::before {
  counter-increment: list-counter;
  position: absolute;
  left: -10px;
  content: counter(list-counter);
  width: 22px;
  border-radius: 50%;
  font-size: 12px;
  color: #3d4356;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e7ed;
  height: 22px;
}


.moneySection{
    color: #38C985;
}

.moneySection::before{
   content: "₵";
}