.inputBlock {
    width: 350px;
    height: 60px;
    padding: 5px 15px;
    position: relative;
    background: #ffffff;
    border: 1px solid #e3e7ed;
    border-radius: 6px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .inputBlock .inputBlockLabel {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #8892a2;
    opacity: 0;
    height: 0px;
    transform: translateY(60%);
    transition: all 250ms ease-in-out;
  }
  .inputBlock .show {
    height: 15px;
    opacity: 1;
    transform: translateY(0%);
  }
  .inputBlock input {
    height: 60%;
    width: 100%;
    font-size: 18px;
    color: #040a1d;
    border: none;
    outline: none;
  }
  .inputBlock input:focus::placeholder {
    opacity: 0;
    transform: scale(0.4);
  }
  