.dashboardCardDateToday {
  width: 100%;
}
.todaysDateSpan {
  color: #8892a2;
  font-size: 12px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid #E3E7ED;
}
