.searchResultCard {
  width: 100%;
  margin-top: 12px;
  color: #8892a2;
  background-color: white;
  border-radius: 6px;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.preResult span:first-child{
text-transform: uppercase;
font-size: 13px;
font-weight: 600;
margin-bottom: 10px;
}
.preResult span:last-child{
    font-size: 16px;
    font-weight: 500;
}

.preResult span:last-child b{
    color: #040A1D;
}
.loading .loadingIcon{
    font-size: 20px;
}

.failed span:first-child{
    color: #3D4356;
    font-size: 18px;
    margin-bottom: 8px;

}
.failed .helpStrip{
    width: 100%;
    display: flex;
    justify-content: center;
}

.failed .helpStrip span{
    display: block;
    color: #8892a2;
    font-size: 14px;
    width: max(250px,35%);
}