.resetPasswordForm{
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    justify-content: center;
}
.formDescriptionStrip{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.returnLink{
    font-size: 14px;
    font-weight: 700;
    margin-top: 1.2rem;
    margin-bottom: 0.5rem;
    color:  #477DFB;;
}