.progressWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0.6rem;
}
.innerProgressWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}

.progressIcon {
  width: 13px;
  height: 13px;
  background-image: url(../../assets/infoCircle.svg);
  margin-left: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.progressAlert {
  font-size: 12px;
}
.progressAlertStrip {
  text-align: left;
}
