.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formRow {
  width: 100vw;
}
/* button {
  border: none;
  background: none;
} */
a {
  text-decoration: none !important;
}
.centeredPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.grey {
  background: #f4f5f7;
}

.bolder {
  font-weight: 700;
}
.light {
  font-weight: lighter;
  color: #848ca7;
}
.description {
  font-weight: 400;
  color: #8892a2;
  font-family: "Open Sans", sans-serif;
}
.formHeader {
  margin-bottom: 15px;
}
.button {
  color: white;
  background-color: #553ffb;
  border: none;
  border-radius: 6px;
  height: 54px;
  margin-top: 1rem;
  width: 100%;
}
.input-group {
  border: 1px solid #e3e7ed;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.02),
    0px 1px 3px rgba(50, 50, 93, 0.15);
  border-radius: 6px;
}
.input-group:focus-within {
  border: 3px solid rgba(71, 125, 251, 0.4);
}
/* prepend input  */
.input-group-prepend .input-group-text {
  background-color: white;
  border-radius: 6px 0px 0px 6px;
}
.input-group-text {
  border: none !important;
}
.form-control {
  border: none !important;
}
.form-control:focus {
  box-shadow: none !important;
}

/* append input  */
.input-group-append .input-group-text {
  background-color: white;
  border-radius: 0px 6px 6px 0px;
}

/* form global styles */
.formDescription {
  font-size: 14px;
  width: 80%;
}
.formHeader {
  font-size: 18px;
  color: #040a1d;
}

label {
  font-weight: 600;
  color: #3d4356;
}

.vfLabel {
  color: #3d4356;
}

.progress {
  background-color: #e1e4e7 !important;
  height: 5px !important;
  border-radius: 10px;
}
.progress-bar {
  /* background-color: #11CDEF !important;
   */
  background-color: var(--progress-color) !important;
  border-radius: 10px !important;
}

.popover {
  background-color: transparent !important;
  border: none !important;
}

.successDescription {
  font-size: 16px;
  margin-bottom: 2rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
