.dashboardCardHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between !important;
}
.dashboardCardHeaderTitle {
  color: #8892a2;
  text-align: left;
  z-index: 2;
  font-size: 16px;
}
.bigHeader{
  color: #3D4356;
  font-size: 20px;
  font-weight: 500;
}